@page
@model Ydelsesberegner.Pages.Alder25Model
@{
    ViewData["Title"] = "Alder";
}

<div id="2" class="text-left">
   <br/><br/><br/>
   <h1>Er du over eller under 25?</h1>
   <br/>
       
    <form method="post">
        @foreach (var svar in Model.Alder25Svar)
        {
             <label><input type="radio" asp-for="Alder25" id="Alder25@(svar)" value="@svar" />@svar</label>
            <br/>
        }
        <br/>
        <input type="button" value="Tilbage" onclick="history.back()" class="btn btn-secondary">
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>
    
       
        
 
</div>

