@page
@model Ydelsesberegner.Pages.Children2Model
@{
    ViewData["Title"] = "Børn";
}

<div id="2" class="text-left">
   <br/><br/><br/>
   <h2 class="display-4">Har du hjemmeboende børn?</h2>

             
    <form method="post">
        @foreach (var svar in Model.Children2Svar)
        {
            <input type="radio" asp-for="Children2" value="@svar" /> @svar<br/>
        }
        <br/> 
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>
    
       
        
 
</div>


