@page
@model Ydelsesberegner.Pages.Children2Model
@{
    ViewData["Title"] = "Børn";
}

<div id="2" class="text-left">
   <br/><br/><br/>
   <h1>Har du hjemmeboende børn?</h1>
    <br/>
             
    <form method="post">
        @foreach (var svar in Model.Children2Svar)
        {
             <label><input type="radio" asp-for="Children2" id="Children2@(svar)" value="@svar" />@svar</label>
            <br/>
        }
        <br/> 
        <input type="button" value="Tilbage" onclick="history.back()" class="btn btn-secondary">
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>
    
       
        
 
</div>


