@page
@model Ydelsesberegner.Pages.EmploymentModel
@{
    ViewData["Title"] = "Beskæftigelseskrav";
}

<div id="2" class="text-left">
   <br/><br/><br/>
   <h1>Har du haft sammenlagt 2½ års fuldtidsbeskæftigelse indenfor de seneste 10 år?</h1>
    <br/>
         
          
    <form method="post">
        @foreach (var svar in Model.EmploymentSvar)
        {
             <label><input type="radio" asp-for="Employment" id="Employment@(svar)" value="@svar" />@svar</label>
            <br/>
        }
        <br/> 
        <input type="button" value="Tilbage" onclick="history.back()" class="btn btn-secondary">
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>

     <br/> 
    <p>
    For at få ret til kontanthjælp eller uddannelseshjælp skal man have haft ordinær og ustøttet beskæftigelse i Danmark,
    Færøerne eller Grønland i sammenlagt 2½ år inden for de seneste 10 år forud for ansøgningstidspunktet. 
    </p>
    <p>
    Har man haft beskæftigelse i kortere tid, kan man have ret til selvforsørgelses- og hjemrejseydelse (S&H-ydelse).
    </p>

    <h3>Bemærkninger:</h3>
    <p>
    Kravet om beskæftigelse svarende til 2 år og 6 måneders fuldtidsbeskæftigelse inden for en 10-årig periode <i>forud</i> for
    afgørelsestidspunktet er fastsat til 1.924 timer pr. år, således at 2 år og 6 måneders fuldtidsbeskæftigelse svarer til
    4.810 arbejdstimer over en 10-årig periode.
    </p>
    <p>
    Beskæftigelseskravet kan kun opfyldes via ordinær beskæftigelse. Det betyder, at støttet arbejde ikke kan medregnes til opfyldelsen
    af beskæftigelseskravet.
    </p>
        
   