@page
@model Ydelsesberegner.Pages.EUBorgerskabModel
@{
    ViewData["Title"] = "EU Borgerskab";
}

<div id="2" class="text-left">
   <br/><br/><br/>
   <h2 class="display-4">Er du EU-/EØS borger med arbejdstagerstatus i Danmark?</h2>

           
    <form method="post">
        @foreach (var svar in Model.EUBorgerskabSvar)
        {
            <input type="radio" asp-for="EUBorgerskab" value="@svar" /> @svar<br/>
        }
        <br/> 
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>

    <p>
            <br/> <br/>
            Hvis du som EU-/EØS borger er i tvivl, om du har arbejdstagerstatus i Danmark, kan du læse mere <a href="https://www.nyidanmark.dk/da/Applying/Residence%20as%20EU%20Swiss%20or%20Nordic%20citizen/EU%20employee">her</a>.
            <br/> <br/>
    </p>