@page
@model Ydelsesberegner.Pages.EUBorgerskabModel
@{
    ViewData["Title"] = "EU Borgerskab";
}

<div id="2" class="text-left">
   <br/><br/><br/>
   <h1>Er du EU-/EØS borger med arbejdstagerstatus i Danmark?</h1>
   <br/>

           
    <form method="post">
        @foreach (var svar in Model.EUBorgerskabSvar)
        {
             <label><input type="radio" asp-for="EUBorgerskab" id="Formue@(svar)" value="@svar" />@svar</label>
            <br/>
        }
        <br/> 
        <input type="button" value="Tilbage" onclick="history.back()" class="btn btn-secondary">
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>
    <br/> <br/>
    <p>Hvis du som EU-/EØS borger er i tvivl, om du har arbejdstagerstatus i Danmark, kan du læse mere på hjemmesiden <a href="https://www.nyidanmark.dk/da/Applying/Residence%20as%20EU%20Swiss%20or%20Nordic%20citizen/EU%20employee">nyidanmark.dk</a>.
           
    </p>