@page
@model Ydelsesberegner.Pages.EUBorgerskabModel
@{
    ViewData["Title"] = "EU Borgerskab";
}

<div id="2" class="text-left">
   <br/><br/><br/>
   <h2 class="display-4">Er du EU borger med arbejdstagerstatus i Danmark?</h2>

           
    <form method="post">
        @foreach (var svar in Model.EUBorgerskabSvar)
        {
            <input type="radio" asp-for="EUBorgerskab" value="@svar" /> @svar<br/>
        }
        <br/> 
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>