@page
@model Ydelsesberegner.Pages.Formue2Model
@{
    ViewData["Title"] = "Formue";
}

<div class="text-left">
   <br/><br/><br/>
   <h1>Har du en formue på over 10.000 kroner?</h1>
    <br/>
       
    <form method="post">
        @foreach (var svar in Model.Formue2Svar)
        {
             <label><input type="radio" asp-for="Formue2" id="Formue2@(svar)" value="@svar" />@svar</label>
            <br/>
        }
        <br/> 
        <input type="button" value="Tilbage" onclick="history.back()" class="btn btn-secondary">
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>
    
       
        

    <br/> <br/>
    <h3>Definition af formue</h3>
    <p>
    Når man modtager hjælp til forsørgelse, må man som enlig have en formue på 10.000 kr. Hvis man har en samlet formue, 
    der er større end dette beløb, så skal man klare sig selv økonomisk i en periode og kan derfor ikke få hjælp samtidig.
    </p>
    <p>
    Begrebet formue dækker over kontantbeholdning, indestående i banken og værdier som kan omsættes til penge – herunder bil,
    aktier og friværdi i egen bolig. 
    </p>
    <p>
    Der kan dog ses bort fra en del af formuen, hvis denne vurderes nødvendig af hensyn til din og evt. din families boligstandard
    eller erhvervs- og uddannelsesmuligheder.   
    </p>
</div>

