@page
@model IndexModel
@{
    ViewData["Title"] = "Civilstand";
}

<div class="text-left">
   <br/><br/><br/>
   <h1>Er du gift?</h1>
   <br/>

        @*
        <%-- Laver "Ja" og "Nej" knapper. Definerer ID og GroupName attributterne.
            "GroupName" er det samme så kun en af knapperne kan være checked ad gangen --%>
        <asp:RadioButton ID="RadioButton9" runat="server" GroupName="Formue" Text="Ja" /> <br/>
        <br class="break" />
        <asp:RadioButton ID="RadioButton10" runat="server" GroupName="Formue" Text="Nej" />
         *@
        
    

       
    <form method="post">
        @foreach (var civilstand in Model.Civilstande)
        {
            <input type="radio" asp-for="Civilstand" value="@civilstand" /> @civilstand<br />
        }
        <br/> 
    
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>




    
    @if (!string.IsNullOrEmpty(Model.Civilstand))
    {
        <br/>
        <br/>
        <p>Du er @Model.Civilstand!</p>
    }
       
       
</div>
