@page
@model IndexModel
@{
    ViewData["Title"] = "Civilstand";
}

<div class="text-left">
   <br/><br/><br/>
   <h1>Er du gift?</h1>
   <br/>

     
        
    

       
    <form method="post">
        @foreach (var civilstand in Model.Civilstande)
        {
             <label><input type="radio" asp-for="Civilstand" id="Civilstand@(civilstand)" value="@civilstand" />@civilstand</label>
            <br/>
        }
        <br/> 
    
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>




    
    @if (!string.IsNullOrEmpty(Model.Civilstand))
    {
        <br/>
        <br/>
        <p>Du er @Model.Civilstand!</p>
    }
       
       
</div>
