@page
@model Ydelsesberegner.Pages.OpholdModel
@{
    ViewData["Title"] = "Ophold";
}

<div class="text-left">
   <br/><br/><br/>
   <h1>OPHOLDSKRAVET<br/>
   <small class="text-muted">Har du haft ophold i Danmark, Færøerne og/eller Grønland i sammenlagt 9 år ud af de seneste 10 år?</small></h1>
  
    <br/>

       
    <form method="post">
        @foreach (var svar in Model.OpholdSvar)
        {
             <label><input type="radio" asp-for="Ophold" id="Ophold@(svar)" value="@svar" />@svar</label>
            <br/>
        }
        <br/> 
        <input type="button" value="Tilbage" onclick="history.back()" class="btn btn-secondary">
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>
    
       <br/>
        
    
        <p>
        For at få ret til kontanthjælp eller uddannelseshjælp skal man have opholdt sig lovligt i Danmark,
        Færøerne eller Grønland i sammenlagt 9 år inden for de seneste 10 år. Har man haft lovligt ophold
        i kortere tid, kan man have ret til selvforsørgelses- og hjemrejseydelse (S&H-ydelse).
        </p>
        <h3>Bemærkninger:</h3>
        <p>
        Ophold i udlandet i forbindelse med ferie, studierejseforretningsrejse m.v., på sammenlagt 2 måneder
        pr. kalenderår, ligestilles med ophold i Danmark, hvis man har bevaret sin danske bopæl.
        </p>      
        <br/>
        <p class="lead">Opholdskravet gælder også for danske statsborgere.</p>
       
    <br/>
        
 
</div>
