@page
@model Ydelsesberegner.Pages.OpholdModel
@{
    ViewData["Title"] = "Ophold";
}

<div class="text-left">
   <br/><br/><br/>
   <h2 class="display-4">OPHOLDSKRAVET</h2>
   <p><br />
        Har du haft ophold i Danmark, Færøerne og/eller Grønland i sammenlagt 9 år ud af de seneste 10 år?
        <br /><br />
    </p>

       
    <form method="post">
        @foreach (var svar in Model.OpholdSvar)
        {
            <input type="radio" asp-for="Ophold" value="@svar" /> @svar<br />
        }
        <br/> 
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>
    
       
        
    <p>
        <br/> <br/>
        For at få ret til kontanthjælp eller uddannelseshjælp skal man have opholdt sig lovligt i Danmark,
        Færøerne eller Grønland i sammenlagt 9 år inden for de seneste 10 år. Har man haft lovligt ophold
        i kortere tid, kan man have ret til integrationsydelse.
        <br /><br />
        <strong>Bemærkninger:</strong><br/>
        Ophold i udlandet i forbindelse med ferie, studierejseforretningsrejse m.v., på sammenlagt 2 måneder
        pr. kalenderår, ligestilles med ophold i Danmark, hvis man har bevaret sin danske bopæl.
        <br/><br/>
        
 
        <strong>Opholdskravet gælder også for danske statsborgere</strong>
        <br/><br/>
    </p>
 
</div>
