@page
@model Ydelsesberegner.Pages.PlaceModel
@{
    ViewData["Title"] = "Bopæl";
}

<div class="text-left">
   <br/><br/><br/>
   <h1>Er du udeboende eller hjemmeboende?</h1>
    <br/>
       

       
    <form method="post">
        @foreach (var svar in Model.PlaceSvar)
        {
             <label><input type="radio" asp-for="Place" id="Place@(svar)" value="@svar" />@svar</label>
            <br/>
        }
        <br/> 
        <input type="button" value="Tilbage" onclick="history.back()" class="btn btn-secondary">
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>
    
     
 
</div>
