@page
@model Ydelsesberegner.Pages.UddannelseModel
@{
    ViewData["Title"] = "Ophold";
}

<div class="text-left">
   <br/><br/><br/>
   <h2 class="display-4">Har du en erhvervskompetencegivende uddannelse? </h2>

        @*
        <%-- Laver "Ja" og "Nej" knapper. Definerer ID og GroupName attributterne.
            "GroupName" er det samme så kun en af knapperne kan være checked ad gangen --%>
        <asp:RadioButton ID="RadioButton9" runat="server" GroupName="Formue" Text="Ja" /> <br/>
        <br class="break" />
        <asp:RadioButton ID="RadioButton10" runat="server" GroupName="Formue" Text="Nej" />
         *@
        
    

       
    <form method="post">
        @foreach (var svar in Model.UddannelseSvar)
        {
            <input type="radio" asp-for="Uddannelse" value="@svar" /> @svar<br />
        }
        <br/> 
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>
    
       
        
    <p>
        <b>Definition af erhvervskompetencegivende uddannelse:</b> 
            <br/> <br/>
            Erhvervskompetencegivende uddannelser dækker over erhvervsuddannelserne, kortere videregående uddannelser, professionsbachelor uddannelser og længere videregående uddannelser. 
            <br/> <br/>
            For at have en erhvervskompetencegivende uddannelse skal uddannelsen være afsluttet. 
            <br/> <br/>

    </p>
 
</div>
