@page
@model Ydelsesberegner.Pages.UddannelseModel
@{
    ViewData["Title"] = "Ophold";
}

<div class="text-left">
   <br/><br/><br/>
   <h1>Har du en erhvervskompetencegivende uddannelse? </h1>
   <br/>

        
    

       
    <form method="post">
        @foreach (var svar in Model.UddannelseSvar)
        {
             <label><input type="radio" asp-for="Uddannelse" id="Uddannelse@(svar)" value="@svar" />@svar</label>
            <br/>
        }
        <br/> 
        <input type="button" value="Tilbage" onclick="history.back()" class="btn btn-secondary">
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>
    
       
    <br/>   
    <br/>
  
        <h3>Definition af erhvervskompetencegivende uddannelse</h3> 
              
              <p>
            Erhvervskompetencegivende uddannelser dækker over erhvervsuddannelserne, kortere videregående uddannelser, professionsbachelor uddannelser og længere videregående uddannelser. 
              </p>
              <p>
            For at have en erhvervskompetencegivende uddannelse skal uddannelsen være afsluttet. 
             </p>


 
</div>
