@page
@model Ydelsesberegner.Pages.UddannelseModel
@{
    ViewData["Title"] = "Ophold";
}

<div class="text-left">
   <br/><br/><br/>
   <h1>Har du en erhvervskompetencegivende uddannelse? </h1>
   <br/>

        @*
        <%-- Laver "Ja" og "Nej" knapper. Definerer ID og GroupName attributterne.
            "GroupName" er det samme så kun en af knapperne kan være checked ad gangen --%>
        <asp:RadioButton ID="RadioButton9" runat="server" GroupName="Formue" Text="Ja" /> <br/>
        <br class="break" />
        <asp:RadioButton ID="RadioButton10" runat="server" GroupName="Formue" Text="Nej" />
         *@
        
    

       
    <form method="post">
        @foreach (var svar in Model.UddannelseSvar)
        {
            <input type="radio" asp-for="Uddannelse" value="@svar" /> @svar<br />
        }
        <br/> 
        <input type="button" value="Tilbage" onclick="history.back()" class="btn btn-secondary">
        <input type="submit" value="Næste" class="btn btn-secondary"/>
    </form>
    
       
    <br/>   
    <br/>
  
        <h3>Definition af erhvervskompetencegivende uddannelse</h3> 
              
              <p>
            Erhvervskompetencegivende uddannelser dækker over erhvervsuddannelserne, kortere videregående uddannelser, professionsbachelor uddannelser og længere videregående uddannelser. 
              </p>
              <p>
            For at have en erhvervskompetencegivende uddannelse skal uddannelsen være afsluttet. 
             </p>


 
</div>
